name: Build Web Release

on:
  push:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    
    - name: Checkout
      uses: actions/checkout@v1

    - name: Install Flutter
      uses: britannio/action-install-flutter@v1.1
      with:
        # The channel/version of Flutter to be used e.g., beta or 2.0.0
        version: 3.24.4
    
    - name: Build
      run: |
        flutter pub get
        flutter build web --release --web-renderer html --base-href=/trackifly/ --dart-define=CLIENT_SECRET=${{ secrets.CLIENT_SECRET }}
      env:
        REACT_APP_APIKey: ${{ secrets.CLIENT_ID }}
        REACT_APP_APISecret: ${{ secrets.CLIENT_SECRET }}

    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@releases/v3
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: gh-pages
        FOLDER: /
